In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

In [3]:
# loading the data from csv file to a pandas Dataframe
skt_data=pd.read_csv("skt_Diabetes.csv")
skt_data

     Gender  Age  Blood Sugar Fasting  Blood Sugar PP  HbA1C   Outcome
0         F   74                244.5           213.9   6.11  Diabetes
1         F   38                223.5           304.8   6.96  Diabetes
2         F   62                131.5           207.3   7.02  Diabetes
3         M   72                131.3           247.6   6.66  Diabetes
4         F   54                214.3           338.8  11.06  Diabetes
...     ...  ...                  ...             ...    ...       ...
4012      F   75                120.0           221.8   6.80  Diabetes
4013      F   36                 92.0            99.4   4.19    Normal
4014      M   59                107.0           179.0   4.90    Normal
4015      F   50                 99.0           198.0   4.20    Normal
4016      F   37                213.0           366.7   6.30  Diabetes

[4017 rows x 6 columns]

In [5]:
# number of rows and Columns in this dataset
skt_data.shape

(4017, 6)

In [9]:
skt_data['Outcome'].value_counts()

Outcome
0    2195
1    1678
2     144
Name: count, dtype: int64

In [10]:
skt_data.isnull().sum()

Gender                 0
Age                    0
Blood Sugar Fasting    0
Blood Sugar PP         0
HbA1C                  0
Outcome                0
dtype: int64

In [8]:
le_encode = LabelEncoder()
skt_data['Gender'] = le_encode.fit_transform(skt_data['Gender'])
skt_data['Outcome'] = le_encode.fit_transform(skt_data['Outcome'])
skt_data

      Gender  Age  Blood Sugar Fasting  Blood Sugar PP  HbA1C  Outcome
0          0   74                244.5           213.9   6.11        0
1          0   38                223.5           304.8   6.96        0
2          0   62                131.5           207.3   7.02        0
3          1   72                131.3           247.6   6.66        0
4          0   54                214.3           338.8  11.06        0
...      ...  ...                  ...             ...    ...      ...
4012       0   75                120.0           221.8   6.80        0
4013       0   36                 92.0            99.4   4.19        1
4014       1   59                107.0           179.0   4.90        1
4015       0   50                 99.0           198.0   4.20        1
4016       0   37                213.0           366.7   6.30        0

[4017 rows x 6 columns]

In [11]:
print(skt_data['Outcome'].value_counts())

Outcome
0    2195
1    1678
2     144
Name: count, dtype: int64

 **Train Test Spliting**

In [12]:
X = skt_data.drop('Outcome', axis=1)  # features: Gender, Age, Blood Sugar, etc.
y = skt_data['Outcome']
scaler = StandardScaler()
X = scaler.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)